@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1 id="welcome-header"><img src="https://img.icons8.com/color/128/gears.png">Add Engineer to this Machine</h1>

<hr>

<h4>Add a Engineer to this Machine: @Html.DisplayFor(model => model.Name)</h4>

<hr>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId")<br>

    <input type="submit" value="Save" class="btn btn-info ml-5"/>
}

<p class="btn btn-dark">@Html.ActionLink("Back to list of Machines", "Index")</p>