@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1 class="jumbotron">Edit Machine</h1>

<h4>Edit this Machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  
  @Html.LabelFor(model => model.LastServiced)
  @Html.EditorFor(model => model.LastServiced)

  <input type="submit" value="Save" class="btn btn-dark"/>
}

<p class="btn btn-dark">@Html.ActionLink("Back to Machine list", "Index")</p>