@{
  Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.Engineer;

<h1 id="welcome-header"><img src="https://img.icons8.com/color/128/gears.png">Add a Machine</h1>

<div class="form">
  <h4>Add a Machine to this Engineer: @Html.DisplayFor(model => model.Name)</h4>

  <hr>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    <h4>@Html.Label("Select Machine")</h4>
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" class="btn btn-info ml-5" />
  }
  <br>
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Add new Machine", "Create", "Machines")</p>
</div>