@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer;


<h1 id="welcome-header"><img src="https://img.icons8.com/color/128/gears.png">Edit Engineer</h1>

<hr>

<div class="form">

<h4> Name: <em>@Html.DisplayFor(model => model.Name)</em></h4><br>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)<br>

    @Html.LabelFor(model => model.DateHired)
    @Html.EditorFor(Model => Model.DateHired)<br>

    <br>

    <input type="submit" value="Save" class="btn btn-info" />
}
<br>
<p class="btn btn-info" id="link">@Html.ActionLink("Back to List", "Index")</p>
</div>