@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer;


<h2>Edit</h2>

<h4> Edit this Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)<br>

    @Html.LabelFor(model => model.DateHired)
    @Html.EditorFor(Model => Model.DateHired)<br>

    <br>

    <input type="submit" value="Save" class="btn btn-dark" />
}

<p class="btn btn-dark" id="link">@Html.ActionLink("Back to Enginner List", "Index")</p>